= semantic_form_for [:admin, @blog_category] do |f|
  = render 'layouts/error_messages', :target => object
  %ul
    = f.input :name, :required => true
    = f.commit_button (f.object.new_record? ? 'Add blog category' : 'Edit blog category')
