/tmp/
!/tmp/never_restart.txt
/log/
/.bundle/
/.sass-cache/
/public/system
/public/system/
/public/assets/
/db/*.sqlite3
/nbproject/
/.idea/
.tmp*
.swp
Thumbs.db
.DS_Store
._*
*.sublime*
public/sitemap.xml*
/20180614153903
/config/local_env.yml

