- i = 0
= semantic_form_for [:admin, @event] do |f|
  %ul
    - f.object.resources.each do |resource|       
      = render(:partial => 'resource', :object => resource) if (i >= @target_i.to_i)
      - i += 1
