:textile
  Hi,

  Someone has filled a contact form online.
  Their details are as follows:

  *Name:* #{@contact_us.name}
  *Phone:* #{@contact_us.phone}
  *Email:* #{@contact_us.email}
  *Message:* #{nl2br(@contact_us.message)}

  Regards.

