:textile
  Hi,

  Someone has subscribed to the newsletter.
  Their details are as follows:

  *Email:* #{@subscription.email}
  *First name:* #{@subscription.first_name}
  *Last name:* #{@subscription.last_name}

  Regards.
