- blog_posts = BlogPost.find(:all, :limit => 3, :order => "created_at desc")

#blog-box
  %h2 Latest blog posts
  %ul
    - blog_posts.each do |blog_post|
      %li
        .image
          - if !blog_post.image.blank? && blog_post.image.exists?
            = image_tag blog_post.image.url(:thumb), :alt => blog_post.title
        .snippet
          = truncate_html blog_post.title, :length => 120
          %p= link_to 'More >', blog_post, :class => 'read_more'
