<script src="//widget.windguru.cz/js/wg_widget.php" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript">
//<![CDATA[
WgWidget({
s: 328256, odh:0, doh:24, wj:'knots', tj:'c', waj:'m', fhours:20, lng:'en',
params: ['WINDSPD','GUST','SMER','TMPE','TCDC','APCPs'],
first_row:true,
spotname:true,
first_row_minfo:false,
last_row:true,
lat_lon:false,
tz:false,
sun:true,
link_archive:false,
link_new_window:false
},
'wg_target_div_328256_34514369'
);
//]]>
</script>
<div id="wg_target_div_328256_34514369"></div>
