.form-box.crew_finder
  = form_tag url_for(:action => :index), :method => :get do
    .field.type
      = select_tag 'ad_type', options_for_select(["All Ad Types", *CrewFinderAd::AD_TYPES], @ad_type)
    .field.date
      = select_tag 'time_period', options_for_select(["All Past", "Past Week", "Past 2 Weeks", "Past Month"], @time_period)
    .field.submit
      = submit_tag 'Search'
