/* CSS reset (adapted from Blueprint CSS 0.81) */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }
/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
/* Remove border on linked images. */
a img { border: none; }
a:focus { outline: none; }

ul li, ol li, img { vertical-align: bottom; } /* IE6-7 margin bugfix */
/* end CSS reset */

h1, h2, h3, h4, h5, h6, p { margin: 6px 0 0 0; }

li { list-style-type: none; }

/* Main application stylesheet */
/* general tag styles */
body {
  line-height: 1.5;
  font-size: 12px;
  font-family: tahoma, verdana, sans-serif;
  color: #000;
  background: #f1eded;
}

textarea {
  font-size: 12px;
  font-family: tahoma, verdana, sans-serif;
}

li, dd, blockquote { margin-left: 20px; }

h1,h2,h3,h4,h5,h6 { font-size: 1em; font-weight: bold; color: #000000; line-height: 1; margin-bottom: 0.5em; }
h1 {
  font-family: "Trebuchet MS",Arial,sans-serif;
  font-size: 20px;
  font-weight: normal;
  border-bottom: 2px solid #e7e7e7;
  text-indent: 0.1em;
  color: #FF6F00;
}

h2 {
  font-family: "Trebuchet MS",Arial,sans-serif;
  font-size: 14px;
  font-size: 1.3em;
  color: #127BB2;
}

td { vertical-align: top; text-align: left; }
th { vertical-align: top; text-align: left; font-weight: bold; }

a { color: #000; }
a:visited { color: #000; }
a:hover { color: #000; text-decoration: underline; }

/* useful general styles */
.bold { font-weight: bold; }
.left { float: left; }
.clear { clear: both; }
.center  { text-align: center; }
.rtl { text-align: right; direction: rtl; }
ol.alpha { list-style-type: lower-alpha; }

/* outer container styles */
#primary_wrapper {
    margin: auto;
    margin-top: 0px;
    width: 960px;
    }

#secondary_wrapper {
    width: auto;
    padding: 10px 0 0 0;
    float: left;
    text-align: center;
    }

/* header */
#header {
    float: left;
    clear: right;
    width: 100%;
    text-align: left;
}

#logo {
  padding: 10px;
  background: #fff;
  display: inline-block;
}

.admin-header {
  text-decoration: none;
}

/* content_for_layout container */
#main_content {
    float: left;
    width: 960px;
    min-height: 500px;
    text-align: left;
    }

#main_content #main_content_inner {
	width: 960px;
	padding: 7px 0px;
	float: left;
}

/* footer */
#footer {
  float: left;
	width: 940px;
  font-size: .8em;
  padding: 7px 10px;
	text-align: center;
}

#footer #copyright, #footer #credits, #footer #credits a {
    }

#credits a { text-decoration: none; color: #000; }
#credits a:hover { text-decoration: underline; }

#flash-notice, #flash-error, #flash-success { padding: 3px 10px; font-size: 14px; font-weight: bold; text-align: center; }
#flash-notice { color: black; background-color: #fff1a8; }
#flash-error { color: white; background-color: #cc0000; }
#flash-success { color: black; background-color: #e6efc2; }

/* navbar */
#navbar {
  float: left;
  clear: left;
  margin: 10px 0 0;
  width: 100%;
  position: relative;
}

#navbar li {
  float: left;
  list-style-type: none;
  margin: 0 0 5px 5px;
}

#navbar li a {
  display: block;
  width: 100px;
  height: 32px;
  line-height: 32px;
  padding: 0px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  font-family: Arial,sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: lowercase;
  vertical-align: middle;
  background: image-url('admin/navbar-bg.png') top left no-repeat;
}

#navbar li:hover a, #navbar li.active a {
}

#user_bar {
  float: right;
  margin: 10px 0px;
}

#user_bar a {
  line-height: 2;
  font-size: 1em;
  color: #fff;
  background: image-url('admin/userbar-button-bg.png') top left no-repeat;
  padding: 1px 10px;
  font-weight: bold;
  text-decoration: none;
}

#user_bar a#return_to_site {
  background: none;
  color: #000;
  font-size: 1.2em;
}

#user_bar a#my_account_link {
  display: inline-block;
}

#user_bar a#logout_link {
  display: inline-block;
}

#actions {
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden; /* to float child nodes inside */
}

#actions ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#actions li a {
	background-color:#F6F5F4;
	background-position: 12px;
	background-repeat: no-repeat;
	border:1px solid #B7B7A8;
	display:block;
	padding:9px 12px 9px 36px;
	width: 150px;
	margin: 0 10px 10px 0;
	text-decoration: none;
}

// disable add new entry
#disable_add_new_entry {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

#actions li {
	margin: 0;
    float: left;
}

#actions a img {
	vertical-align: bottom;
	border: 0;
}

#seo_options {
  legend {
    cursor: pointer;
    padding-right: 20px;
    position: relative;
  }

  legend:after {
    content: "";
    position: absolute;
    right: 6px;
    top: 9px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #000;
  }

  &.open legend:after {
    border-color: transparent;
    border-bottom-color: #000;
    top: 4px;
  }
}

table.sortable_table td.handle {
  cursor: pointer;
}


.add_icon { background-image: image-url('icons/add.png'); }
.edit_icon { background-image: image-url('icons/application_edit.png'); }
.settings_icon { background-image: image-url('icons/settings.png'); }
.comments_icon { background-image: image-url('icons/user_comment.png'); }
.visit_icon { background-image: image-url('icons/application_go.png'); }
.upload_icon { background-image: image-url('icons/upload.png'); }
.copy_icon { background-image: image-url('icons/copy.png'); }
.edit_image_icon { background-image: image-url('icons/image_edit.png'); }

.button_save_icon { margin-left: 4px; padding-left: 20px; background: white image-url('icons/save.png') left center no-repeat; }

.inline_edit_image_icon { display: inline-block; margin-left: 4px; padding-left: 20px; background: transparent image-url('icons/image_edit.png') left center no-repeat; }
.inline_delete_icon { display: inline-block; margin-left: 4px; padding-left: 20px; background: transparent image-url('icons/delete.png') left center no-repeat; }
.inline_download_icon { display: inline-block; margin-left: 4px; padding-left: 20px; background: transparent image-url('icons/download.png') left center no-repeat; }
.inline_edit_icon { display: inline-block; margin-left: 4px; padding-left: 20px; background: transparent image-url('icons/application_edit.png') left center no-repeat; }
.inline_show_icon { display: inline-block; margin-left: 4px; padding-left: 20px; background: transparent image-url('icons/eye.png') left center no-repeat; }
.inline_insert_image_icon { display: inline-block; margin-left: 4px; padding-left: 20px; background: transparent image-url('icons/image_add.png') left center no-repeat; }
.inline_visit_icon { display: inline-block; margin-left: 4px; padding-left: 20px; background: transparent image-url('icons/application_go.png') left center no-repeat; }
.inline_approve_icon { display: inline-block; margin-left: 4px; padding-left: 20px; background: transparent image-url('icons/tick.png') left center no-repeat; }
.inline_copy_icon { display: inline-block; margin-left: 4px; padding-left: 20px; background: transparent image-url('icons/copy.png') left center no-repeat; }

table#events {
  width: 1090px;

  tr.spacer {
    &.spacer_top {
      border-top: 1px dotted #606776;
    }

    td {
      line-height: 10px;
    }
  }

  th {
    color: #b0b1b5;
    background: #fff;
    font-weight: bold;
    line-height: 30px;
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }
  }

  .sponsor {
    width: 100px;
    text-align: center;
  }

  .title {
    width: 140px;
  }
  td.title { color: #da241c; }

  .date {
    width: 120px;
    text-align: left;
  }

  td.resources {
    width: 220px;

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      margin-left: 23px;
      list-style: none;
      position: relative;

      a {
        font-size: 12px;
        color: #707483;
        text-decoration: underline;
        text-transform: uppercase;
      }


      &:before {
        content: "";
        width: 12px;
        height: 12px;
        background: #da241c;
        position: absolute;
        top: 7px;
        left: -18px;
      }

      &:after {
        content: "";
        width: 0px;
        height: 0px;
        border: 4px solid transparent;
        border-left: 4px solid #fff;
        position: absolute;
        top: 9px;
        left: -14px;
      }
    }
  }

  .actions {
    width: 160px;
  }

  td, th { border: none; }

  td {
    background: #fff;
    color: #404559;
    font-size: 14px;
    padding: 0 10px;
    border-left: 1px dotted #cbcdd2;
    vertical-align: top;

    p { margin-top: 0; }

    &:first-child {
      border-left: none;
      padding-left: 0;
    }
  }
}

#sortable_charges .charge, #sortable_categories .category {
  margin: 0 0 40px;
  .handle {
    float: left;
    height: 225px;
    border-left: 15px solid #aaa;
    width: 0;
    margin-right: 20px;
    cursor: pointer;
  }
}

#sortable_categories .category .handle {
  height: 310px;
}

.floated_uls {
  overflow: hidden;
  margin-bottom: 50px;

  ul {
    float: left;
  }
}

form.result input[type=file] {
  width: 770px;
}

.entries-table th a, a.sortable_column {
  color: #fff;
  text-decoration: underline !important;
}

form.entry td.charge_name {
  padding-right: 10px;
}
