ul.custom_field {
  li.disabled { display: none; }
  li.radio {
    fieldset { padding: 0; margin: 0; border: none; }
    ol li {
      float: left;
      margin: 0 15px 0 0;
      label {
        width: auto;
      }
    }
  }
}
