#userbar
  -#- if logged_in?
  -#  = link_to current_user.login, main_app.account_path
  -#  == (#{link_to 'logout', main_app.logout_path})
  -#- else
  -#  = link_to 'Members Login', main_app.login_path
  = link_to 'Members Section', "https://hyc.clubhouseonline-e3.com/login.aspx", :target => '_blank'