- @page_name = 'Event Dinner Booking'
- @no_sidebar = true

- content_for :breadcrumbs do
  %li
    = link_to "New #{@page_name}", :action => :new

#main-content-inner
  %h1 Thanks for your booking!

