- i = 0
= semantic_form_for @entry_form, :url => '' do |f|
  = f.semantic_fields_for :charges do |charge_form|
    - i += 1
    - if i.to_i == @target_i.to_i
      = render :partial => 'charge', :locals => {:charge_form => charge_form, :entry_form => @entry_form, :i => i}

