// Mixins and variables go here

// @include border-radius(10px);
// @include border-radius(5px 5px 2px 2px);
@mixin border-radius ($r) {
  border-radius: $r;
  -moz-border-radius: $r;
  -webkit-border-radius: $r;
  behavior: javascript-url('pie.htc');
  position: relative;
}

// @include linear-gradient(#dddddd, #ffffff);
@mixin linear-gradient ($c1, $c2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from($c1), to($c2));
  background-image: -webkit-linear-gradient(top, $c1, $c2);
  background-image: -moz-linear-gradient(top, $c1, $c2);
  background-image: -ms-linear-gradient(top, $c1, $c2);
  background-image: -o-linear-gradient(top, $c1, $c2);
  background-image: linear-gradient(top, $c1, $c2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#{$c1}, EndColorStr=#{$c2});
}

// @include opacity(0.5);
@mixin opacity($opacity) {
  opacity: $opacity;
  filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})");
}

@mixin box-sizing($model) {
  box-sizing: $model;
  -moz-box-sizing: $model;
  -ms-box-sizing: $model;
}
