.trophy-winners {
  .form-box {
    select {
      width: 170px;
    }

    .type input {
      margin-left: 20px;
      margin-right: 0px;
    }

    select#year {
      width: 104px;
    }

    select#trophy_event_id {
      width: 240px;
    }

    .submit {
      margin-top: 18px;
    }
  }
}

body.controller-trophy-winners {
  #sidebar {
    padding-right: 0;
  }

  #main-content-inner {
    width: 680px;
  }
}