#social-media-links
  = link_to image_tag('/images/facebook_icon.png', :alt => 'Facebook'), settings[:facebook_url], :target => '_blank'
  = link_to image_tag('/images/linkedin_icon.png', :alt => 'LinkedIn'), settings[:linkedin_url], :target => '_blank'
  = link_to image_tag('/images/twitter_icon.png', :alt => 'Twitter'), "http://twitter.com/#{settings[:twitter_username]}", :target => '_blank'
